# Ignore packed files
*.erf
*.hak
*.mod

# Ignore the nasher directory
.git/
.nasher/
.docker/
_scriptdump/
Test/
plugins/working
docker/
.github/
config
tlks/
haks/
*.exe
C:\Users\Brad\Desktop\Git_Repositories\ds-r